<ion-item class="tarea">
    <ion-header>
    <ion-label>Tarea con los Madison</ion-label>
    </ion-header>
    <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg" class="imagen"></ion-img>
    <ion-footer class="iconos">
        <ion-grid>
            <ion-row>
              <ion-col><ion-icon name="paper-plane-outline"></ion-icon></ion-col>
              <ion-col><ion-icon name="log-out-outline"></ion-icon></ion-col>
              <ion-col><ion-icon name="mail-outline"></ion-icon></ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
</ion-item>