ion-list{
    margin: 0%;
    align-content: center;
    padding-bottom: 25%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}


.ailton{
width: 450px;
}

.achu{
    height: 200px;
}

ion-select{
    width: 200px
}